<form phx-change="form-change" phx-submit="join-quiz">
  <div class="row">
    <div class="column">
      <input type="text" name="quiz_id" autofocus="true" placeholder="Quiz ID">
    </div>
    <div class="column">
      <button disabled={not @quiz_id_valid}>Join quiz</button>
    </div>
  </div>
</form>
<p>
  Or
  <%= live_redirect "start a new quiz", to: Routes.quizmaster_path(@socket, :new) %>
</p>
