<%= if @quiz do %>
  <p>
    Quiz ID: <span class="qb-quiz-id"><%= @quiz.id %></span>
    (direct people to <%= link @quiz_url, to: @quiz_url, class: "qb-quiz-url" %>)
  </p>

  <%= case @quiz.state do %>
    <% :setup -> %>
      <p>The quiz has not yet started.</p>
      <%= live_component @socket, QuizBuzzWeb.SetupComponent, quiz: @quiz %>      
  <% end %>
<% end %>
