/* This file is for your main application css. */

@import "./phoenix.css";

.qb-quiz-id, .qb-quiz-url {
  font-weight: bold;
  color: #00C;
}

.qb-me {
  font-weight: bold;
}

.qb-player, .qb-team-player {
  display: inline;
  text-decoration: none;
  margin-right: 1rem;
}
