/* This file is for your main application css. */

@import "./phoenix.css";

.qb-quiz-id, .qb-quiz-url {
  font-weight: bold;
  color: #00C;
}

.qb-me {
  font-weight: bold;
}

.qb-player, .qb-team-player {
  display: inline;
  text-decoration: none;
  margin-right: 1rem;
}

.qb-button-note {
  font-weight: light;
  text-transform: none;
}

.qb-scoreboard .qb-team {
  padding: 1rem;
}

.qb-scoreboard .qb-team ul {
  margin-bottom: 0.5rem;
}

.qb-scoreboard h2 {
  font-weight: bold;
  margin-bottom: 0;
}

.qb-scoreboard.qb-buzzed {
  background-color: #888;
}

.qb-scoreboard .qb-team {
  border-bottom: 1px solid black;
  padding: 5px;
  padding-bottom: 8px;
}

.qb-scoreboard.qb-buzzed .qb-team {
  border-bottom: none;
  padding-bottom: 9px;
}

.qb-scoreboard.qb-buzzed .qb-team.qb-buzzed {
  background-color: white;
  border: 1px solid black;
  border-bottom: 5px solid red;
  padding: 4px;
}

.qb-scoreboard.qb-buzzed .qb-team-player.qb-buzzed {
  text-decoration: underline red;
}

.qb-scoreboard .qb-team .points {
  margin-left: 4rem;
}
